* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e6f2f8;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #007bff;
    color: #fff;
}


.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-size: 1rem;
}

.nav-links a {
    display: inline;
    text-decoration: none;
    color: #fff;
}


.contact-btn {
    background-color: #fff;
    color: #007bff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}


