* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    columns: 4;
    column-gap: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;

}

.box img {
    width: 18em;
    height: 10em;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;


}



.box {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

p {
    font-size: 1em;
    font-weight: 500;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;  
}

.last-updated {
    font-size: 1em;
    font-weight: 400;
    color: #726c6c;
}

h1 {
    font-size: 1.5em;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

@media (max-width: 576px) {
    .container {
        display: grid;
        grid-template-columns: 100%;
    }
    .box img {
        width: 100%;
        height: auto;
    } 
}

@media (min-width: 480px) and (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 100%;
    }

    .box img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .container {
        display: grid;
        grid-template-columns: auto auto;
    }

    .box img {
        width: 100%;
        height: auto;
    }
} 

@media (min-width: 992px) and (max-width: 1200px) {
    .container {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .box img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .container {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .box img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1400px) and (max-width: 1600px) {
    .container {
        display: grid;
        grid-template-columns: 100%;
    }

    .box img {
        width: 100%;
        height: auto;
    }
}





































